In [1]:
import numpy as np
import pandas as pd

In [2]:
matches=pd.read_csv('matches.csv',sep=',')
matches

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [3]:
matches['date']=pd.to_datetime(matches['date'])
matches['season']=matches['date'].dt.year
matches.season

0       2008
1       2008
2       2008
3       2008
4       2008
        ...
1090    2024
1091    2024
1092    2024
1093    2024
1094    2024
Name: season, Length: 1095, dtype: int32

In [3]:
delivery=pd.read_csv('deliveries.csv',sep=',')
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,bowl_style
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,,0,NaN,Right arm Medium
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,NaN,Right arm Medium
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,,0,NaN,Right arm Medium
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,NaN,Right arm Medium
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,NaN,Right arm Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,,0,NaN,Right arm Offbreak
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,,0,NaN,Right arm Offbreak
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,,0,NaN,Slow Left arm Orthodox
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,,0,NaN,Slow Left arm Orthodox
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,,0,NaN,Slow Left arm Orthodox

In [7]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [6]:
delivery.dismissal_kind.hasnans

True

In [7]:
delivery.extras_type=delivery.extras_type.fillna(0)

In [8]:
delivery.player_dismissed=delivery.player_dismissed.fillna(' ')

In [9]:
delivery.dismissal_kind=delivery.dismissal_kind.fillna(0)

In [10]:
delivery.fielder=delivery.fielder.fillna('')

### 1a. Total Runs across all seasons

In [11]:
nett_runs=delivery['total_runs'].sum()
nett_runs

np.int64(347756)

### 1b. Total Extra Runs across seasons

In [12]:
extras=delivery['extra_runs'].sum()
extras

np.int64(17692)

### 1c. Avg Runs Per match

In [13]:
runs_per_match=delivery.groupby('match_id')['total_runs'].sum().mean()
runs_per_match

np.float64(317.5853881278539)

### 1d. Average inning runs per match

In [14]:
avg_inn_runs_per_match=delivery.groupby(['match_id','inning'])['total_runs'].sum().mean()
avg_inn_runs_per_match

np.float64(156.85881822282363)

In [15]:
avg_inn_runs_per_match=delivery.groupby(['match_id','inning'])['total_runs'].sum().groupby('inning').mean()
avg_inn_runs_per_match

inning
1    165.547032
2    152.194139
3      9.785714
4      8.785714
5     11.000000
6     15.000000
Name: total_runs, dtype: float64

### 2a. Strike Rate Calculation

In [16]:
total_runs_batter = delivery.groupby('batter')['batsman_runs'].sum().reset_index(name='runs')
total_runs_batter

             batter  runs
0    A Ashish Reddy   280
1          A Badoni   634
2        A Chandila     4
3          A Chopra    53
4       A Choudhary    25
..              ...   ...
668   Yashpal Singh    47
669     Younis Khan     3
670   Yudhvir Singh    22
671    Yuvraj Singh  2754
672          Z Khan   117

[673 rows x 2 columns]

In [17]:
balls_faced=delivery[~delivery['extras_type'].isin(['wides','noballs'])].groupby('batter').size().reset_index(name='balls')
balls_faced

             batter  balls
0    A Ashish Reddy    193
1          A Badoni    472
2        A Chandila      7
3          A Chopra     71
4       A Choudhary     20
..              ...    ...
668   Yashpal Singh     65
669     Younis Khan      7
670   Yudhvir Singh     16
671    Yuvraj Singh   2115
672          Z Khan    140

[673 rows x 2 columns]

In [18]:
stats=pd.merge(total_runs_batter,balls_faced,on='batter',how='inner')
stats

             batter  runs  balls
0    A Ashish Reddy   280    193
1          A Badoni   634    472
2        A Chandila     4      7
3          A Chopra    53     71
4       A Choudhary    25     20
..              ...   ...    ...
668   Yashpal Singh    47     65
669     Younis Khan     3      7
670   Yudhvir Singh    22     16
671    Yuvraj Singh  2754   2115
672          Z Khan   117    140

[673 rows x 3 columns]

In [19]:
stats['SR']=(stats['runs']/stats['balls'])*100
stats['SR']

0      145.077720
1      134.322034
2       57.142857
3       74.647887
4      125.000000
          ...
668     72.307692
669     42.857143
670    137.500000
671    130.212766
672     83.571429
Name: SR, Length: 673, dtype: float64

In [20]:
high_SR=stats[stats['balls']>=100].sort_values(by='SR',ascending=False).head(10)
high_SR

              batter  runs  balls          SR
234  J Fraser-McGurk   330    139  237.410072
433          PD Salt   653    368  177.445652
652         WG Jacks   230    130  176.923077
39        AD Russell  2488   1407  176.830135
617          TM Head   772    441  175.056689
606         T Stubbs   405    232  174.568966
85   Ashutosh Sharma   189    110  171.818182
612         TH David   659    385  171.168831
208        H Klaasen   993    584  170.034247
503  Ramandeep Singh   170    100  170.000000

### 2b.Top Scorers

In [21]:
top_scorers=delivery.groupby('batter')['batsman_runs'].sum().sort_values(ascending=False).head(10)
top_scorers

batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64

### 2c. Highest Individual Scores

In [22]:
individual_score=delivery.groupby(['batter','match_id'])['batsman_runs'].sum().sort_values(ascending=False).head(10)
individual_score

batter          match_id
CH Gayle        598027      175
BB McCullum     335982      158
Q de Kock       1304112     140
AB de Villiers  829795      133
KL Rahul        1216510     132
Shubman Gill    1370352     129
AB de Villiers  980987      129
CH Gayle        548372      128
RR Pant         1136602     128
M Vijay         419137      127
Name: batsman_runs, dtype: int64

### 2d. Fastest 50s

In [23]:
final_runs=delivery.groupby(['match_id', 'batter'])['batsman_runs'].sum().reset_index(name='runs')
final_runs

       match_id         batter  runs
0        335982      AA Noffke     9
1        335982        B Akhil     0
2        335982    BB McCullum   158
3        335982       CL White     6
4        335982      DJ Hussey    12
...         ...            ...   ...
16510   1426312      SP Narine     6
16511   1426312        SS Iyer     6
16512   1426312  Shahbaz Ahmed     8
16513   1426312        TM Head     0
16514   1426312        VR Iyer    52

[16515 rows x 3 columns]

In [24]:
balls_faced=delivery[~delivery['extras_type'].isin(['wides', 'noballs'])].groupby(['match_id', 'batter']).size().reset_index(name='balls')
balls_faced

       match_id         batter  balls
0        335982      AA Noffke     10
1        335982        B Akhil      2
2        335982    BB McCullum     73
3        335982       CL White     10
4        335982      DJ Hussey     12
...         ...            ...    ...
16503   1426312      SP Narine      2
16504   1426312        SS Iyer      3
16505   1426312  Shahbaz Ahmed      7
16506   1426312        TM Head      1
16507   1426312        VR Iyer     26

[16508 rows x 3 columns]

In [25]:
ind_inn_score=pd.merge(final_runs, balls_faced, on=['match_id', 'batter'], how='inner')
ind_inn_score

       match_id         batter  runs  balls
0        335982      AA Noffke     9     10
1        335982        B Akhil     0      2
2        335982    BB McCullum   158     73
3        335982       CL White     6     10
4        335982      DJ Hussey    12     12
...         ...            ...   ...    ...
16503   1426312      SP Narine     6      2
16504   1426312        SS Iyer     6      3
16505   1426312  Shahbaz Ahmed     8      7
16506   1426312        TM Head     0      1
16507   1426312        VR Iyer    52     26

[16508 rows x 4 columns]

In [26]:
ind_inn_score['sr']=(ind_inn_score['runs'] / ind_inn_score['balls']) * 100
ind_inn_score['sr']

0         90.000000
1          0.000000
2        216.438356
3         60.000000
4        100.000000
            ...
16503    300.000000
16504    200.000000
16505    114.285714
16506      0.000000
16507    200.000000
Name: sr, Length: 16508, dtype: float64

In [27]:
fastest_50=ind_inn_score[ind_inn_score['runs'] >= 50].sort_values(by='sr', ascending=False).head(10)
fastest_50

       match_id           batter  runs  balls          sr
13282   1304060       PJ Cummins    56     14  400.000000
6851     734047         SK Raina    87     24  362.500000
15926   1426273  J Fraser-McGurk    65     18  361.111111
6776     734037        YK Pathan    72     22  327.272727
14463   1359489         N Pooran    62     19  326.315789
16048   1426281  J Fraser-McGurk    84     26  323.076923
9535    1136562         KL Rahul    51     16  318.750000
9294    1082636        SP Narine    54     17  317.647059
8074     980947       KA Pollard    51     17  300.000000
16275   1426295          TM Head    89     30  296.666667

In [28]:
fastest_100=ind_inn_score[ind_inn_score['runs'] >= 100].sort_values(by='sr', ascending=False).head(10)
fastest_100

       match_id          batter  runs  balls          sr
5839     598064       DA Miller   101     37  272.972973
1786     419107       YK Pathan   100     37  270.270270
5302     598027        CH Gayle   175     65  269.230769
8356     980987  AB de Villiers   129     51  252.941176
16078   1426283        WG Jacks   100     40  250.000000
15849   1426268         TM Head   102     41  248.780488
560      336018   ST Jayasuriya   114     48  237.500000
8445     980999         V Kohli   113     48  235.416667
184      335994    AC Gilchrist   109     47  231.914894
7526     829795  AB de Villiers   133     58  229.310345

### 3a. Total wickets

In [29]:
nett_wickets=delivery['is_wicket'].sum()
nett_wickets

np.int64(12950)

### 3b. Highest Wicket taker

In [30]:
top_wickettakers=delivery.groupby('bowler')['is_wicket'].sum().sort_values(ascending=False).head(10)
top_wickettakers

bowler
YS Chahal     213
DJ Bravo      207
PP Chawla     201
SP Narine     200
R Ashwin      198
B Kumar       195
SL Malinga    188
A Mishra      183
JJ Bumrah     182
RA Jadeja     169
Name: is_wicket, dtype: int64

### 3c. Individual Bowling Best

In [31]:
individual_best=delivery.groupby(['bowler','match_id'])['is_wicket'].sum().sort_values(ascending=False).head(10)
individual_best

bowler          match_id
DJG Sammy       598056      6
Sohail Tanvir   336005      6
Akash Madhwal   1370351     6
B Kumar         1359536     6
HV Patel        1254058     6
AS Joseph       1178394     6
AD Russell      980963      6
A Zampa         980979      6
Sandeep Sharma  1426276     5
VY Mahesh       336032      5
Name: is_wicket, dtype: int64

### 3d. Most dot balls

In [32]:
total_wkts_bowler = delivery[(delivery['dismissal_kind']!='run out') | (delivery['dismissal_kind']!='retired hurt')].groupby('bowler')['is_wicket'].sum().reset_index(name='wickets')
total_wkts_bowler

             bowler  wickets
0    A Ashish Reddy       19
1          A Badoni        2
2        A Chandila       11
3       A Choudhary        5
4       A Dananjaya        0
..              ...      ...
525      Yash Dayal       31
526     Yash Thakur       27
527   Yudhvir Singh        4
528    Yuvraj Singh       39
529          Z Khan      119

[530 rows x 2 columns]

In [33]:
balls_bowled=delivery[~delivery['extras_type'].isin(['wides','noballs'])].groupby('bowler').size().reset_index(name='balls')
balls_bowled

             bowler  balls
0    A Ashish Reddy    262
1          A Badoni     25
2        A Chandila    234
3       A Choudhary    101
4       A Dananjaya     24
..              ...    ...
525      Yash Dayal    578
526     Yash Thakur    404
527   Yudhvir Singh     72
528    Yuvraj Singh    869
529          Z Khan   2200

[530 rows x 2 columns]

In [34]:
true_dot_balls = delivery[(delivery['total_runs'] == 0) & (delivery['extra_runs']==0)]
total_dots_bowler = true_dot_balls.groupby('bowler').size().sort_values(ascending=False)
total_dots_bowler.head(10)

bowler
B Kumar            1632
SP Narine          1569
R Ashwin           1552
PP Chawla          1325
Harbhajan Singh    1263
JJ Bumrah          1228
RA Jadeja          1216
YS Chahal          1194
UT Yadav           1186
A Mishra           1185
dtype: int64

### 3e. Best Economy (across seasons)

In [35]:
total_dots_bowler = delivery[(delivery['total_runs'] == 0)].groupby('bowler').size().sort_values(ascending=False).reset_index(name='runs')
total_dots_bowler

              bowler  runs
0            B Kumar  1632
1          SP Narine  1569
2           R Ashwin  1552
3          PP Chawla  1325
4    Harbhajan Singh  1263
..               ...   ...
512    Mandeep Singh     1
513         D Brevis     1
514          JE Root     1
515         FY Fazal     1
516     AC Gilchrist     1

[517 rows x 2 columns]

In [36]:
total_runs_bowler = delivery.groupby('bowler')['total_runs'].sum().reset_index(name='runs')
total_runs_bowler

             bowler  runs
0    A Ashish Reddy   400
1          A Badoni    37
2        A Chandila   245
3       A Choudhary   144
4       A Dananjaya    47
..              ...   ...
525      Yash Dayal   933
526     Yash Thakur   702
527   Yudhvir Singh   125
528    Yuvraj Singh  1091
529          Z Khan  2860

[530 rows x 2 columns]

In [37]:
balls_bowled=delivery[~delivery['extras_type'].isin(['wides','noballs'])].groupby('bowler').size().reset_index(name='balls')
balls_bowled

             bowler  balls
0    A Ashish Reddy    262
1          A Badoni     25
2        A Chandila    234
3       A Choudhary    101
4       A Dananjaya     24
..              ...    ...
525      Yash Dayal    578
526     Yash Thakur    404
527   Yudhvir Singh     72
528    Yuvraj Singh    869
529          Z Khan   2200

[530 rows x 2 columns]

In [38]:
eco_stats=pd.merge(total_runs_bowler,balls_bowled,on='bowler',how='inner')
eco_stats

             bowler  runs  balls
0    A Ashish Reddy   400    262
1          A Badoni    37     25
2        A Chandila   245    234
3       A Choudhary   144    101
4       A Dananjaya    47     24
..              ...   ...    ...
525      Yash Dayal   933    578
526     Yash Thakur   702    404
527   Yudhvir Singh   125     72
528    Yuvraj Singh  1091    869
529          Z Khan  2860   2200

[530 rows x 3 columns]

In [39]:
eco_stats=pd.merge(eco_stats,total_wkts_bowler,on='bowler',how='inner')
eco_stats

             bowler  runs  balls  wickets
0    A Ashish Reddy   400    262       19
1          A Badoni    37     25        2
2        A Chandila   245    234       11
3       A Choudhary   144    101        5
4       A Dananjaya    47     24        0
..              ...   ...    ...      ...
525      Yash Dayal   933    578       31
526     Yash Thakur   702    404       27
527   Yudhvir Singh   125     72        4
528    Yuvraj Singh  1091    869       39
529          Z Khan  2860   2200      119

[530 rows x 4 columns]

In [40]:
eco_stats['Economy']=(eco_stats['runs']/eco_stats['balls'])*6
eco_stats['Economy']

0       9.160305
1       8.880000
2       6.282051
3       8.554455
4      11.750000
         ...
525     9.685121
526    10.425743
527    10.416667
528     7.532796
529     7.800000
Name: Economy, Length: 530, dtype: float64

In [41]:
best_Eco=eco_stats[eco_stats['wickets']>=180].sort_values(by='Economy').head(10)
best_Eco

         bowler  runs  balls  wickets   Economy
446   SP Narine  4672   4081      200  6.868905
355    R Ashwin  5435   4524      198  7.208223
438  SL Malinga  3486   2828      188  7.396040
8      A Mishra  4193   3371      183  7.463067
193   JJ Bumrah  3840   3075      182  7.492683
71      B Kumar  5051   3910      195  7.750895
524   YS Chahal  4681   3521      213  7.976711
348   PP Chawla  5179   3850      201  8.071169
119    DJ Bravo  4436   3120      207  8.530769

### 4a. Types and numbers of extras by bowler

In [42]:
wides_bowled=delivery[delivery['extras_type'].isin(['wides'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
wides_bowled

bowler
YS Chahal          98
SN Thakur         103
HV Patel          106
UT Yadav          110
P Kumar           112
Mohammed Siraj    115
SL Malinga        128
B Kumar           138
R Ashwin          151
DJ Bravo          167
Name: extra_runs, dtype: int64

In [43]:
nbs_bowled=delivery[delivery['extras_type'].isin(['noballs'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
nbs_bowled

bowler
RP Singh             13
AB Dinda             14
M Prasidh Krishna    16
HV Patel             16
SL Malinga           18
A Mishra             21
UT Yadav             23
S Sreesanth          23
I Sharma             23
JJ Bumrah            33
Name: extra_runs, dtype: int64

In [44]:
byes_bowled=delivery[delivery['extras_type'].isin(['byes'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
byes_bowled

bowler
Z Khan             8
B Kumar            9
SP Narine          9
Mohammed Shami     9
AD Russell         9
YS Chahal         12
IK Pathan         13
L Balaji          14
UT Yadav          14
SL Malinga        15
Name: extra_runs, dtype: int64

In [45]:
legbyes_bowled=delivery[delivery['extras_type'].isin(['legbyes'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
legbyes_bowled

bowler
Z Khan        48
R Ashwin      49
SP Narine     53
DJ Bravo      54
SL Malinga    58
I Sharma      61
UT Yadav      62
JJ Bumrah     64
P Kumar       68
B Kumar       88
Name: extra_runs, dtype: int64

In [46]:
penalties_bowled=delivery[delivery['extras_type'].isin(['penalty'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
penalties_bowled

bowler
PP Ojha       1
SL Malinga    1
Name: extra_runs, dtype: int64

In [47]:
extras_bowled=delivery[delivery['extras_type'].isin(['wides','noballs','legbyes','byes','penalty'])].groupby('bowler')['extra_runs'].size().sort_values().tail(10)
extras_bowled

bowler
HV Patel          169
Mohammed Siraj    170
JJ Bumrah         182
P Kumar           185
I Sharma          186
R Ashwin          209
UT Yadav          209
SL Malinga        220
DJ Bravo          232
B Kumar           247
Name: extra_runs, dtype: int64

In [48]:
delivery['extras_type'].unique()

array(['legbyes', 0, 'wides', 'byes', 'noballs', 'penalty'], dtype=object)

### 6. Average Powerplay runs season wise

In [49]:
delivery_match_merged = delivery.merge(matches[['id', 'season']], left_on='match_id', right_on='id')
delivery_match_merged

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,id,season
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,,0,,335982,2008
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,,335982,2008
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,,0,,335982,2008
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,,335982,2008
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,,0,,335982,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,,0,,1426312,2024
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,,0,,1426312,2024
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,,0,,1426312,2024
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,,0,,1426312,2024
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,,0,,1426312,2024

In [50]:
avg_pp_runs_per_match=delivery_match_merged[delivery_match_merged['over'].isin([1, 2, 3, 4, 5, 6])].groupby(['season','match_id','inning'])['total_runs'].sum().groupby(['season','inning']).mean()
avg_pp_runs_per_match

season  inning
2008    1         46.672414
        2         47.862069
2009    1         44.456140
        2         42.192982
2010    1         47.566667
        2         48.916667
2011    1         41.424658
        2         44.347222
2012    1         43.513514
        2         45.148649
2013    1         42.776316
        2         42.960526
2014    1         44.150000
        2         47.233333
2015    1         47.355932
        2         47.172414
2016    1         44.983333
        2         49.233333
2017    1         48.169492
        2         52.135593
2018    1         50.666667
        2         51.483333
2019    1         46.583333
        2         50.716667
2020    1         47.683333
        2         46.550000
2021    1         45.216667
        2         48.833333
2022    1         48.324324
        2         47.418919
2023    1         54.310811
        2         52.630137
2024    1         55.028169
        2         59.140845
Name: total_runs, dtype: float64

### 7. Most frequent types of dismissals

In [51]:
freq_dism=delivery[delivery['dismissal_kind']!=0]['dismissal_kind'].value_counts()
freq_dism

dismissal_kind
caught                   8063
bowled                   2212
run out                  1114
lbw                       800
caught and bowled         367
stumped                   358
retired hurt               15
hit wicket                 15
obstructing the field       3
retired out                 3
Name: count, dtype: int64

### 8. Top wicket-takers by dismissal kind

#### Caught

In [52]:
top_wickettakers_by_caught=delivery[delivery['dismissal_kind']=='caught']['bowler'].value_counts()
top_wickettakers_by_caught

bowler
DJ Bravo          143
YS Chahal         127
B Kumar           122
R Ashwin          117
UT Yadav          108
                 ...
Sikandar Raza       1
Mayank Dagar        1
AA Noffke           1
V Viyaskanth        1
Shashank Singh      1
Name: count, Length: 436, dtype: int64

#### Bowled

In [53]:
top_wickettakers_by_bowled=delivery[delivery['dismissal_kind']=='bowled']['bowler'].value_counts()
top_wickettakers_by_bowled

bowler
SL Malinga           63
SP Narine            50
PP Chawla            50
JJ Bumrah            39
B Kumar              39
                     ..
Shahbaz Ahmed         1
S Sandeep Warrier     1
R Sai Kishore         1
G Coetzee             1
Abhishek Sharma       1
Name: count, Length: 317, dtype: int64

#### LBW

In [54]:
top_wickettakers_by_lbw=delivery[delivery['dismissal_kind']=='lbw']['bowler'].value_counts()
top_wickettakers_by_lbw

bowler
Rashid Khan           35
SP Narine             25
PP Chawla             21
R Ashwin              19
YS Chahal             18
                      ..
Naveen-ul-Haq          1
R Sai Kishore          1
Azmatullah Omarzai     1
KR Sen                 1
Mukesh Kumar           1
Name: count, Length: 222, dtype: int64

#### C&B

In [55]:
top_wickettakers_by_cb=delivery[delivery['dismissal_kind']=='caught and bowled']['bowler'].value_counts()
top_wickettakers_by_cb

bowler
Harbhajan Singh    11
DJ Bravo           11
SP Narine           9
PP Chawla           7
S Gopal             7
                   ..
SH Johnson          1
G Coetzee           1
Harshit Rana        1
MA Starc            1
R Sai Kishore       1
Name: count, Length: 162, dtype: int64

#### Stumped

In [56]:
top_wickettakers_by_stump=delivery[delivery['dismissal_kind']=='stumped']['bowler'].value_counts()
top_wickettakers_by_stump

bowler
A Mishra           28
YS Chahal          20
PP Chawla          19
Harbhajan Singh    18
PP Ojha            12
                   ..
DJ Hooda            1
MK Lomror           1
LS Livingstone      1
Harpreet Brar       1
Sikandar Raza       1
Name: count, Length: 91, dtype: int64

### 8. Most impactful partnerships (best stand for each wicket)

### 9. Fielding stats: Most catches, run-outs, top fielders

#### 9.1 Most catches

In [57]:
top_fielder_by_caught=delivery[delivery['dismissal_kind']=='caught']['fielder'].value_counts()
top_fielder_by_caught

fielder
MS Dhoni            152
KD Karthik          145
AB de Villiers      120
V Kohli             114
SK Raina            106
                   ...
Misbah-ul-Haq         1
Gulbadin Naib         1
Kumar Kushagra        1
N Thushara            1
T Kohler-Cadmore      1
Name: count, Length: 599, dtype: int64

#### 9.2 Most runouts

In [58]:
top_fielder_by_runouts=delivery[delivery['dismissal_kind']=='run out']['fielder'].value_counts().head(10)
top_fielder_by_runouts

fielder
                  181
MS Dhoni           26
RA Jadeja          19
SV Samson          17
KD Karthik         17
V Kohli            17
AB de Villiers     13
MK Pandey          13
SK Raina           13
WP Saha            12
Name: count, dtype: int64

#### 9.3 Top Fielders

In [59]:
top_fielder=delivery[delivery['dismissal_kind'].isin(['caught','run out'])]['fielder'].value_counts()
top_fielder

fielder
                    181
MS Dhoni            178
KD Karthik          162
AB de Villiers      133
V Kohli             131
                   ...
N Jagadeesan          1
Kumar Kushagra        1
Suyash Sharma         1
Gulbadin Naib         1
T Kohler-Cadmore      1
Name: count, Length: 607, dtype: int64

In [60]:
delivery.over.isin([16,17,18,19]).sum()

np.int64(46584)