In [2]:
import numpy as np
import pandas as pd

In [3]:
match=pd.read_csv('matches.csv',sep=',')
match

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [4]:
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [5]:
#Replacing SuperOver results where it is N to 0
match['super_over']=match['super_over'].replace('N','0')

In [5]:
match['super_over']

0       0
1       0
2       0
3       0
4       0
       ..
1090    0
1091    0
1092    0
1093    0
1094    0
Name: super_over, Length: 1095, dtype: object

### 1. Top 10 most POTM list

In [6]:
match.player_of_match.value_counts().head(10)

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
V Kohli           18
DA Warner         18
MS Dhoni          17
YK Pathan         16
RA Jadeja         16
SR Watson         16
AD Russell        15
Name: count, dtype: int64

### 2. Is Toss winner equals Match Winner

In [7]:
toss_win=match[match.toss_winner==match.winner]         #checking for toss winner and match winner same 
toss_win_matches=(toss_win.shape[0]/match.shape[0])*100 #now finding the percentage
toss_win_matches

50.593607305936075

### 3. How many teams batting first won the Match

In [8]:
toss_bat=match[match.toss_decision=='bat']
toss_bat.shape[0]

391

In [9]:
toss_bowl=match[match.toss_decision=='field']
toss_bowl.shape[0]

704

In [10]:
total_bat_first_win=match[(match.toss_winner==match.winner) & (match.toss_decision=='bat')]
total_bat_first_win.shape[0]

177

In [11]:
Toss_bat_win_match=(total_bat_first_win.shape[0]/toss_bat.shape[0])*100
Toss_bat_win_match

45.26854219948849

In [12]:
match.venue.nunique()

58

### 3a. Total matches per season(Cleaning and Insights)

In [13]:
match['date']=pd.to_datetime(match['date'])   #converted date column to datetime type from str
match['season']=match['date'].dt.year         #now converted it to year
#reason for conversion is because the year is same but date has changed which makes it difficult to find insights from.
match.season

0       2008
1       2008
2       2008
3       2008
4       2008
        ...
1090    2024
1091    2024
1092    2024
1093    2024
1094    2024
Name: season, Length: 1095, dtype: int32

In [14]:
no_of_matches_season=match['season'].value_counts().sort_index()
no_of_matches_season

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
Name: count, dtype: int64

### 3b. Total matches per city

In [15]:
no_of_matches_city=match['city'].value_counts().sort_index()
no_of_matches_city

city
Abu Dhabi          37
Ahmedabad          36
Bangalore          65
Bengaluru          29
Bloemfontein        2
Cape Town           7
Centurion          12
Chandigarh         61
Chennai            85
Cuttack             7
Delhi              90
Dharamsala         13
Dubai              13
Durban             15
East London         3
Guwahati            3
Hyderabad          77
Indore              9
Jaipur             57
Johannesburg        8
Kanpur              4
Kimberley           3
Kochi               5
Kolkata            93
Lucknow            14
Mohali              5
Mumbai            173
Nagpur              3
Navi Mumbai         9
Port Elizabeth      7
Pune               51
Raipur              6
Rajkot             10
Ranchi              7
Sharjah            10
Visakhapatnam      15
Name: count, dtype: int64

### 3c. Total matches per venue

In [16]:
no_of_matches_venue=match['venue'].value_counts().sort_values()
no_of_matches_venue

venue
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam        2
OUTsurance Oval                                                           2
Vidarbha Cricket Association Stadium, Jamtha                              3
Barsapara Cricket Stadium, Guwahati                                       3
Buffalo Park                                                              3
De Beers Diamond Oval                                                     3
Green Park                                                                4
Himachal Pradesh Cricket Association Stadium, Dharamsala                  4
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          5
Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur        5
Nehru Stadium                                                             5
Shaheed Veer Narayan Singh International Stadium                          6
St George's Park                                                          7
JSCA International Stadium Complex                                        7
Newlands                                                                  7
Barabati Stadium                                                          7
Zayed Cricket Stadium, Abu Dhabi                                          8
New Wanderers Stadium                                                     8
Holkar Cricket Stadium                                                    9
Himachal Pradesh Cricket Association Stadium                              9
MA Chidambaram Stadium                                                    9
Saurashtra Cricket Association Stadium                                   10
Sawai Mansingh Stadium, Jaipur                                           10
Brabourne Stadium                                                        10
Punjab Cricket Association IS Bindra Stadium                             10
Punjab Cricket Association IS Bindra Stadium, Mohali                     11
SuperSport Park                                                          12
Sardar Patel Stadium, Motera                                             12
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                      13
Maharashtra Cricket Association Stadium, Pune                            13
Rajiv Gandhi International Stadium, Uppal, Hyderabad                     13
Arun Jaitley Stadium                                                     14
M Chinnaswamy Stadium, Bengaluru                                         14
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow    14
M.Chinnaswamy Stadium                                                    15
Kingsmead                                                                15
Rajiv Gandhi International Stadium                                       15
Eden Gardens, Kolkata                                                    16
Arun Jaitley Stadium, Delhi                                              16
Subrata Roy Sahara Stadium                                               16
Brabourne Stadium, Mumbai                                                17
Dr DY Patil Sports Academy                                               17
Dr DY Patil Sports Academy, Mumbai                                       20
Maharashtra Cricket Association Stadium                                  22
Narendra Modi Stadium, Ahmedabad                                         24
Sharjah Cricket Stadium                                                  28
MA Chidambaram Stadium, Chepauk, Chennai                                 28
Sheikh Zayed Stadium                                                     29
Punjab Cricket Association Stadium, Mohali                               35
Wankhede Stadium, Mumbai                                                 45
Dubai International Cricket Stadium                                      46
Sawai Mansingh Stadium                                                   47
MA Chidambaram Stadium, Chepauk                                          48
Rajiv Gandhi International Stadium, Uppal                                49
Feroz Shah Kotla                                                         60
M Chinnaswamy Stadium                                                    65
Wankhede Stadium                                                         73
Eden Gardens                                                             77
Name: count, dtype: int64

### 4. Frequency of each match type

In [17]:
frequency=match['match_type'].value_counts()
frequency

match_type
League                1029
Final                   17
Qualifier 2             14
Qualifier 1             14
Eliminator              11
Semi Final               6
Elimination Final        3
3rd Place Play-Off       1
Name: count, dtype: int64

### 5. Team-wise win/loss tally and most successful teams

In [33]:
team1_wise_matches=match['team1'].value_counts()
team1_wise_matches

team1
Royal Challengers Bangalore    135
Chennai Super Kings            128
Mumbai Indians                 123
Kolkata Knight Riders          121
Rajasthan Royals               101
Kings XI Punjab                 92
Sunrisers Hyderabad             86
Delhi Daredevils                85
Delhi Capitals                  41
Deccan Chargers                 39
Punjab Kings                    31
Lucknow Super Giants            23
Pune Warriors                   23
Gujarat Titans                  21
Gujarat Lions                   16
Royal Challengers Bengaluru      9
Kochi Tuskers Kerala             7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Name: count, dtype: int64

In [34]:
team2_wise_matches=match['team2'].value_counts()
team2_wise_matches

team2
Mumbai Indians                 138
Kolkata Knight Riders          130
Rajasthan Royals               120
Chennai Super Kings            110
Royal Challengers Bangalore    105
Kings XI Punjab                 98
Sunrisers Hyderabad             96
Delhi Daredevils                76
Delhi Capitals                  50
Deccan Chargers                 36
Punjab Kings                    25
Gujarat Titans                  24
Pune Warriors                   23
Lucknow Super Giants            21
Gujarat Lions                   14
Rising Pune Supergiant           9
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Royal Challengers Bengaluru      6
Name: count, dtype: int64

In [36]:
count_team_matches=team1_wise_matches+team2_wise_matches
count_team_matches

Chennai Super Kings            238
Deccan Chargers                 75
Delhi Capitals                  91
Delhi Daredevils               161
Gujarat Lions                   30
Gujarat Titans                  45
Kings XI Punjab                190
Kochi Tuskers Kerala            14
Kolkata Knight Riders          251
Lucknow Super Giants            44
Mumbai Indians                 261
Pune Warriors                   46
Punjab Kings                    56
Rajasthan Royals               221
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    240
Royal Challengers Bengaluru     15
Sunrisers Hyderabad            182
Name: count, dtype: int64

In [37]:
team_wise_wins_ratio=((match['winner'].value_counts()/count_team_matches)*100)
team_wise_wins_ratio

Chennai Super Kings            57.983193
Deccan Chargers                38.666667
Delhi Capitals                 52.747253
Delhi Daredevils               41.614907
Gujarat Lions                  43.333333
Gujarat Titans                 62.222222
Kings XI Punjab                46.315789
Kochi Tuskers Kerala           42.857143
Kolkata Knight Riders          52.191235
Lucknow Super Giants           54.545455
Mumbai Indians                 55.172414
Pune Warriors                  26.086957
Punjab Kings                   42.857143
Rajasthan Royals               50.678733
Rising Pune Supergiant         62.500000
Rising Pune Supergiants        35.714286
Royal Challengers Bangalore    48.333333
Royal Challengers Bengaluru    46.666667
Sunrisers Hyderabad            48.351648
Name: count, dtype: float64

In [58]:
matches_won=match['winner'].value_counts().reset_index()
matches_won
matches_won.columns = ['Team', 'Matches_won']
matches_won

                           Team  Matches_won
0                Mumbai Indians          144
1           Chennai Super Kings          138
2         Kolkata Knight Riders          131
3   Royal Challengers Bangalore          116
4              Rajasthan Royals          112
5           Sunrisers Hyderabad           88
6               Kings XI Punjab           88
7              Delhi Daredevils           67
8                Delhi Capitals           48
9               Deccan Chargers           29
10               Gujarat Titans           28
11                 Punjab Kings           24
12         Lucknow Super Giants           24
13                Gujarat Lions           13
14                Pune Warriors           12
15       Rising Pune Supergiant           10
16  Royal Challengers Bengaluru            7
17         Kochi Tuskers Kerala            6
18      Rising Pune Supergiants            5

In [59]:
match_play = count_team_matches.reset_index()
match_play
match_play.columns = ['Team', 'Matches_played']
match_play

                           Team  Matches_played
0           Chennai Super Kings             238
1               Deccan Chargers              75
2                Delhi Capitals              91
3              Delhi Daredevils             161
4                 Gujarat Lions              30
5                Gujarat Titans              45
6               Kings XI Punjab             190
7          Kochi Tuskers Kerala              14
8         Kolkata Knight Riders             251
9          Lucknow Super Giants              44
10               Mumbai Indians             261
11                Pune Warriors              46
12                 Punjab Kings              56
13             Rajasthan Royals             221
14       Rising Pune Supergiant              16
15      Rising Pune Supergiants              14
16  Royal Challengers Bangalore             240
17  Royal Challengers Bengaluru              15
18          Sunrisers Hyderabad             182

In [61]:
win_and_match=pd.merge(match_play,matches_won,on='Team', how='inner')
win_and_match

                           Team  Matches_played  Matches_won
0           Chennai Super Kings             238          138
1               Deccan Chargers              75           29
2                Delhi Capitals              91           48
3              Delhi Daredevils             161           67
4                 Gujarat Lions              30           13
5                Gujarat Titans              45           28
6               Kings XI Punjab             190           88
7          Kochi Tuskers Kerala              14            6
8         Kolkata Knight Riders             251          131
9          Lucknow Super Giants              44           24
10               Mumbai Indians             261          144
11                Pune Warriors              46           12
12                 Punjab Kings              56           24
13             Rajasthan Royals             221          112
14       Rising Pune Supergiant              16           10
15      Rising Pune Supergiants              14            5
16  Royal Challengers Bangalore             240          116
17  Royal Challengers Bengaluru              15            7
18          Sunrisers Hyderabad             182           88

In [63]:
win_and_match['win_ratio']=(win_and_match['Matches_won']/win_and_match['Matches_played'])*100
win_and_match['win_ratio']

0     57.983193
1     38.666667
2     52.747253
3     41.614907
4     43.333333
5     62.222222
6     46.315789
7     42.857143
8     52.191235
9     54.545455
10    55.172414
11    26.086957
12    42.857143
13    50.678733
14    62.500000
15    35.714286
16    48.333333
17    46.666667
18    48.351648
Name: win_ratio, dtype: float64

In [67]:
high_wins_ratio=win_and_match[win_and_match['Matches_played']>150].sort_values(by=['Matches_played','win_ratio'],ascending=False)
high_wins_ratio

                           Team  Matches_played  Matches_won  win_ratio
10               Mumbai Indians             261          144  55.172414
8         Kolkata Knight Riders             251          131  52.191235
16  Royal Challengers Bangalore             240          116  48.333333
0           Chennai Super Kings             238          138  57.983193
13             Rajasthan Royals             221          112  50.678733
6               Kings XI Punjab             190           88  46.315789
18          Sunrisers Hyderabad             182           88  48.351648
3              Delhi Daredevils             161           67  41.614907

### 6. Head-to-head records between teams (team1 vs team2 outcomes)
#### For now let's say MI vs CSK

In [68]:
team1='Chennai Super Kings'
team2='Mumbai Indians'
HtoH=match[((match['team1']==team1) & (match['team2']==team2)) | ((match['team1']==team2) & (match['team2']==team1)) ]
HtoH.shape[0]

37

In [69]:
CSKwins_vsMI=HtoH[HtoH['winner']==team1].shape[0]
CSKwins_vsMI

17

In [70]:
MIwins_vsCSK=HtoH[HtoH['winner']==team2].shape[0]
MIwins_vsCSK

20

In [71]:
CSKvsMI_ratio=(CSKwins_vsMI/HtoH.shape[0])*100
CSKvsMI_ratio

45.94594594594595

### 7. Toss decisions: Frequency, types, and correlation of toss-winner and toss-decision to match results

### 7a. Frequency : How many times each team won the toss?

In [72]:
most_toss_winning_teams=match['toss_winner'].value_counts()
most_toss_winning_teams

toss_winner
Mumbai Indians                 143
Kolkata Knight Riders          122
Chennai Super Kings            122
Rajasthan Royals               120
Royal Challengers Bangalore    113
Sunrisers Hyderabad             88
Kings XI Punjab                 85
Delhi Daredevils                80
Delhi Capitals                  50
Deccan Chargers                 43
Punjab Kings                    24
Gujarat Titans                  22
Pune Warriors                   20
Lucknow Super Giants            19
Gujarat Lions                   15
Kochi Tuskers Kerala             8
Royal Challengers Bengaluru      8
Rising Pune Supergiants          7
Rising Pune Supergiant           6
Name: count, dtype: int64

### 7b. How often does each toss decision (bat/field) occur?

In [73]:
toss_decide_bat=match[match['toss_decision']=='bat'].shape[0]
toss_decide_bat

391

In [74]:
toss_decide_bowl=match[match['toss_decision']=='field'].shape[0]
toss_decide_bowl

704

### 8. Toss WInner wins Matches

#### 8a. How many time team1 won the toss and match

In [75]:
toss_winner_team1_match_winner=match[((match['team1']==match['toss_winner']) & (match['team1']==match['winner']))]
toss_winner_team1_match_winner.shape[0]

221

#### 8b. How many time team2 won the toss and match

In [76]:
toss_winner_team2_match_winner=match[((match['team2']==match['toss_winner']) & (match['team2']==match['winner']))]
toss_winner_team2_match_winner.shape[0]

333

#### 8c. How many times team that won the toss and won the match

In [77]:
match[match['toss_winner']==match['winner']].shape[0]

554

#### 8c(i) . How many times winning the toss meant the match won

In [78]:
tosses_win_matches=((match[match['toss_winner']==match['winner']].shape[0])/(match['id'].value_counts().shape[0]))*100
tosses_win_matches

50.593607305936075

### 8d. Total Matches across all seasons

In [79]:
match['id'].value_counts().shape[0]

1095

### 9. Distribution of Match Results(by runs)

In [80]:
different_match_results=match.result.value_counts()
different_match_results

result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

### 10a. Largest Result Margin(by runs)

In [81]:
largest_run_margin=match.loc[match.result_margin.idxmax()]
largest_run_margin

id                             1082635
season                            2017
city                             Delhi
date               2017-05-06 00:00:00
match_type                      League
player_of_match            LMP Simmons
venue                 Feroz Shah Kotla
team1                 Delhi Daredevils
team2                   Mumbai Indians
toss_winner           Delhi Daredevils
toss_decision                    field
winner                  Mumbai Indians
result                            runs
result_margin                    146.0
target_runs                      213.0
target_overs                      20.0
super_over                           0
method                             NaN
umpire1                    Nitin Menon
umpire2                      CK Nandan
Name: 620, dtype: object

In [82]:
match['result_margin']=match['result_margin'].fillna(0)
match['result_margin']

0       140.0
1        33.0
2         9.0
3         5.0
4         5.0
        ...
1090      4.0
1091      8.0
1092      4.0
1093     36.0
1094      8.0
Name: result_margin, Length: 1095, dtype: float64

In [83]:
match['target_runs']=match['target_runs'].fillna(0)
match['target_runs']

0       223.0
1       241.0
2       130.0
3       166.0
4       111.0
        ...
1090    215.0
1091    160.0
1092    173.0
1093    176.0
1094    114.0
Name: target_runs, Length: 1095, dtype: float64

### 10b. Largest Result Margin(by wickets)

In [84]:
match_high_wkt_margin=match[(match['result_margin']<11) & (match['target_runs']>175) & (match['result']=='wickets')]
match_high_wkt_margin

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
8,335990,2008,Hyderabad,2008-04-24,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,215.0,20.0,0,NaN,Asad Rauf,MR Benson
27,336009,2008,Delhi,2008-05-08,League,MS Dhoni,Feroz Shah Kotla,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,4.0,188.0,20.0,0,NaN,Aleem Dar,RB Tiffin
46,336031,2008,Chandigarh,2008-05-23,League,SE Marsh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Deccan Chargers,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,176.0,20.0,0,NaN,Asad Rauf,SJ Davis
47,336032,2008,Delhi,2008-05-24,League,KD Karthik,Feroz Shah Kotla,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,field,Delhi Daredevils,wickets,5.0,177.0,20.0,0,NaN,BF Bowden,K Hariharan
106,392231,2009,Centurion,2009-05-18,League,BJ Hodge,SuperSport Park,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,7.0,189.0,20.0,0,NaN,SJA Taufel,RB Tiffin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1426277,2024,Chennai,2024-04-23,League,MP Stoinis,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field,Lucknow Super Giants,wickets,6.0,211.0,20.0,0,NaN,NA Patwardhan,Tapan Sharma
1065,1426280,2024,Kolkata,2024-04-26,League,JM Bairstow,"Eden Gardens, Kolkata",Kolkata Knight Riders,Punjab Kings,Punjab Kings,field,Punjab Kings,wickets,8.0,262.0,20.0,0,NaN,AK Chaudhary,YC Barde
1067,1426282,2024,Lucknow,2024-04-27,League,SV Samson,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,197.0,20.0,0,NaN,KN Ananthapadmanabhan,MA Gough
1068,1426283,2024,Ahmedabad,2024-04-28,League,WG Jacks,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Royal Challengers Bengaluru,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,wickets,9.0,201.0,20.0,0,NaN,Nitin Menon,VK Sharma
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,0,NaN,Nitin Menon,VK Sharma

In [85]:
largest_wkt_victory=match_high_wkt_margin.loc[match_high_wkt_margin['result_margin'].idxmax()]
largest_wkt_victory

id                                                1082593
season                                               2017
city                                               Rajkot
date                                  2017-04-07 00:00:00
match_type                                         League
player_of_match                                   CA Lynn
venue              Saurashtra Cricket Association Stadium
team1                                       Gujarat Lions
team2                               Kolkata Knight Riders
toss_winner                         Kolkata Knight Riders
toss_decision                                       field
winner                              Kolkata Knight Riders
result                                            wickets
result_margin                                        10.0
target_runs                                         184.0
target_overs                                         20.0
super_over                                              0
method                                                NaN
umpire1                                       Nitin Menon
umpire2                                         CK Nandan
Name: 579, dtype: object

### 11a. Venues for high scoring games

In [86]:
match['first_innings'] = match['target_runs'] - 1

match['second_innings_runs'] = np.where(
    match['result'] == 'runs',
    match['first_innings'] - match['result_margin'],
    match['target_runs']  
)

# Total match runs
match['total_runs'] = match['first_innings'] + match['second_innings_runs']

high_scoring = match[match['total_runs'] >= 400]

venue_high_scores = high_scoring['venue'].value_counts()

venue_high_scores.head(3)

venue
Wankhede Stadium, Mumbai       9
Eden Gardens, Kolkata          7
Arun Jaitley Stadium, Delhi    5
Name: count, dtype: int64

In [87]:
super_close=match[((match['result_margin']<10) & (match['result']=='runs')) | ((match['result_margin']<3) & (match['result']=='wickets'))]
super_close['venue'].value_counts().head(3)

venue
Wankhede Stadium                   11
Eden Gardens                        9
MA Chidambaram Stadium, Chepauk     6
Name: count, dtype: int64

In [88]:
super_over=match.groupby('super_over')['result_margin'].value_counts()
super_over

super_over  result_margin
0           6.0              131
            7.0              130
            5.0              109
            8.0               85
            4.0               74
                            ...
            138.0              1
            140.0              1
            144.0              1
            146.0              1
Y           0.0               14
Name: count, Length: 100, dtype: int64

In [89]:
super_over_result = match[match['super_over'] == 'Y']['winner'].value_counts()
super_over_result

winner
Kings XI Punjab                3
Delhi Capitals                 3
Rajasthan Royals               2
Mumbai Indians                 2
Royal Challengers Bangalore    2
Sunrisers Hyderabad            1
Kolkata Knight Riders          1
Name: count, dtype: int64

In [90]:
delhi_matches=match[match.city=='Delhi']
delhi_matches.shape[0]

90

In [91]:
delhi_toss_bat=match[(match.toss_decision=='bat') & (match.city=='Delhi')]
delhi_toss_bat.shape[0]

36

In [92]:
delhi_total_bat_first_win=match[(match.toss_winner==match.winner) & (match.toss_decision=='bat') & (match.city=='Delhi')]
delhi_total_bat_first_win.shape[0]

17